site_name: Build5Nines.SharpVector
site_url: https://sharpvector.build5nines.com
site_author: Build5Nines LLC & Chris Pietschmann

theme:
  name: material # null
#  custom_dir: themes/material
  favicon: images/favicon.png
  logo: images/logo.png
  features:
    - tabs
    - content.action.edit
    # - content.action.view
    - content.code.copy
    - content.code.annotate
    - navigation.footer
    - navigation.tabs
    - search.suggest
    - search.highlight
    
    
    
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to system preference

repo_name: Build5Nines/SharpVector
repo_url: https://github.com/Build5Nines/SharpVector
edit_uri: edit/main/docs/docs/

copyright: '&copy; 2025 Build5Nines LLC'

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.snippets

plugins:
  - social
  - git-authors:
      show_email_address: false


extra:
  # analytics:
  #   provider: google
  #   property: G-???
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Build5Nines
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/build5nines.bsky.social
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/build5nines
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/build5nines
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@build5nines
    
nav:
  - Home: index.md
  - Get Started: get-started.md
  - Concepts: concepts.md
  - Text Chunking: text-chunking.md
  - OpenAI Embeddings: openai-embeddings.md
  - Samples: samples.md
  - Resources: resources.md
  - License: license.md