name: Build Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - mkdocs.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x' # Adjust the version as needed

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Performance Test
      run: dotnet run --project SharpVectorPerformance --configuration Release
    
    # - name: Publish
    #   run: dotnet publish --configuration Release --output ./publish --no-build

    # - name: Upload artifact
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: release-build
    #     path: ./publish

    - name: Performance Results
      run: |
        echo "## Performance Results" > $GITHUB_STEP_SUMMARY
        cat ./BenchmarkDotNet.Artifacts/results/SharpVectorPerformance.MemoryVectorDatabasePerformance-report-github.md >> $GITHUB_STEP_SUMMARY

    - name: Upload Performance artifact
      uses: actions/upload-artifact@v4
      with:
        name: performance-results
        path: './src/BenchmarkDotNet.Artifacts/*'

    - name: Upload Nuget artifact
      uses: actions/upload-artifact@v4
      with:
        name: nuget-package
        path: '**/*.nupkg'