name: .NET Tests

on:
  pull_request:
    branches:
      - main
      - dev
    paths-ignore:
      - 'docs/**'
      - 'mkdocs.yml'
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x' # Adjust the version as needed

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Run tests with code coverage
      run: dotnet test --no-build --verbosity normal --results-directory "./TestResults/Coverage/" --logger "trx;LogFileName=test_results.trx" --collect:"XPlat Code Coverage" 

    - name: Upload test results artifact
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: '**/TestResults/**'

    - name: Publish test results
      uses: dorny/test-reporter@v1
      with:
        name: Unit Tests
        path: src/TestResults/Coverage/test_results.trx
        reporter: dotnet-trx
        fail-on-error: true

    - name: Upload code coverage report
      uses: actions/upload-artifact@v4
      with:
        name: CodeCoverage
        path: ./src/TestResults/Coverage/**/coverage.cobertura.xml
          
  

  performance:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x' # Adjust the version as needed

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Performance Test
      run: dotnet run --project SharpVectorPerformance --configuration Release
      
    - name: Performance Results
      run: |
        echo "## Performance Results" > $GITHUB_STEP_SUMMARY
        cat ./BenchmarkDotNet.Artifacts/results/SharpVectorPerformance.MemoryVectorDatabasePerformance-report-github.md >> $GITHUB_STEP_SUMMARY
  
    - name: Upload Performance artifact
      uses: actions/upload-artifact@v4
      with:
        name: performance-results
        path: './src/BenchmarkDotNet.Artifacts/*'
