name: MKDocs to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - docs/**
      - mkdocs.yml
  workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout code
          uses: actions/checkout@v2
    
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.x'  # Use the latest version of Python 3
    
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install mkdocs
    
        - name: Build documentation
          run: mkdocs build --site-dir _site
  
        - name: Setup pages
          uses: actions/configure-pages@v5
          
        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: github-pages
            path: _site/


    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
        - name: Remove hard links and symlinks
          run: |
            echo "Removing symlinks..."
            find _site -type l -exec rm -f {} +
            echo "Checking for remaining symlinks..."
            find _site -type l -exec echo "Symlink found: {}" \;

        - name: Check artifact size
          run: |
            echo "Calculating artifact size..."
            size=$(du -sh _site | cut -f1)
            echo "Artifact size: $size"
            if [ $(du -s _site | cut -f1) -gt $((10 * 1024 * 1024)) ]; then
            echo "Artifact exceeds 10GB size limit." >&2
            exit 1
            fi

        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4
          with:
            artifact_name: github-pages
